<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>About the Pest</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
<!-- Introduction_area_start  -->
<div class="team_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-55">
                    <h3>Introduction</h3>
                    <p>Four main pests in AU now</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/team/hourse2.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Equus Caballus</h3>
                        <p>
                            IntroductionIntroductionIntroduction

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/team/cat2.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Felis Catus</h3>
                        <p>
                            IntroductionIntroductionIntroduction
                           
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/team/fox2.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Vulpes Vulpes</h3>
                        <p>
                            IntroductionIntroductionIntroduction

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img//team/rabbit2.jpg" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Oryctolagus Cuniculus</h3>
                        <p>
                            IntroductionIntroductionIntroduction
                            IntroductionIntroductionIntroduction
                            IntroductionIntroductionIntroduction
                            IntroductionIntroductionIntroduction
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Introduction_area_end  -->
